body{
    font-family: $font;
    color: $primary_color_font
}

.btn{
    padding: 10px;
    border-radius: 5px;
    border-style: none;
}

.container_full{
    background-color: #ffe7d2;
}

.card{
    width: calc(100% / 3);
    float: left;
    padding: 100px 15px;
}
