.row_one{
    @include row(0 150px);
    .row_one_left{
        width: calc(100vw / 2);
        h2{
            font-size: 50px;
            padding-bottom: 30px;
        }
        .btn{
            @include button(#30488f, white);
            margin-bottom: 20px;
        }
    }
    .row_one_right{
        width: calc(100vw / 2);
        img{
            width: 100%;
        }
    }
}

.row_two{
    @include row(0 250px);
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid gray;
    .cards{
        img{
            width: 140px;
            transform: translateX(50%);
        }
        img.img_left{
            padding: 10px 0;
        }
        img.img_right{
            height: 105px;
        }
        p{
            text-align: center;
        }
    }
    img.rabbit{
        width: 280px;
        justify-content: center;
    }
}

.row_three{
    @include row(0 250px);
    flex-direction: column;
    align-items: center;
    .cards{
        img{
            width: 140px;
            transform: translateX(50%);
        }
        p{
            text-align: center;
        }
    }
    img.rabbit{
        width: 280px;
        justify-content: center;
    }
    img.img_left{
        padding: 18px 0;
    }
    img.img_center{
        padding: 6px 0;
    }
    img.img_right{
        width: 60px;
    }
    h3{
        padding-top: 60px;
    }
}

.row_four{
    @include row(0);
    img.feedback{
        width: 768px;
    }
    img.penguins{
        width: 270px;
    }
    a{
        display: block;
        padding-bottom: 30px;
        font-size: 20px;
        text-decoration: none;    
    }
}
